
@{
    ViewBag.Title = "Index";
}

<h1>CrudyBot</h1>
<p>Describe your bot here and your terms of use etc.</p>
<p>Visit <a href="https://www.botframework.com/">Bot Framework</a> to register your bot. When you register it, remember to set your bot's endpoint to <span style="font-style: italic">https://<i>your_bots_hostname</i>/api/messages</span></p>